*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    direction: rtl;
}
body {
    background-image: url(images1/Untitled.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    display: flex;
    background-color: rgb(228 228 191);
    height: 70px;
    z-index: 100;
    position: fixed;
    width: 100%;
}

table td {
    margin-top: 30px;
    text-align: center;
}

table td a{
    text-decoration: none;
    color: white;
    background-color: rgb(127, 133, 124);
    padding: 10px;
    border-radius: 5px;
}